
/* ****************************************
 * Normalize css
 * ****************************************/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0;}a:focus{outline:thin dotted}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:10px;font-size:0.625rem}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/* ****************************************
 * Imports
 * ****************************************/
@import "styles/variables";
@import "styles/paddings";
@import "styles/margins";
@import "styles/icons";


/* ****************************************
 * Font Families
 * ****************************************/
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/open_sans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/open_sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/open_sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/open_sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('./assets/fonts/fontello/fontello.eot?75036633');
  src: url('./assets/fonts/fontello/fontello.eot?75036633#iefix') format('embedded-opentype'),
       url('./assets/fonts/fontello/fontello.woff?75036633') format('woff'),
       url('./assets/fonts/fontello/fontello.ttf?75036633') format('truetype'),
       url('./assets/fonts/fontello/fontello.svg?75036633#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ****************************************
 * Imports
 * ****************************************/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';


/* ****************************************
 * Scrollbar
 * ****************************************/
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}
 
*::-webkit-scrollbar-thumb {
  background-color: $color-theme-darkviolet;
  outline: 1px solid $color-theme-darkviolet;
  border-radius: 5px;
}


/* ****************************************
 * General
 * ****************************************/
* {
  font-family:'OpenSans',Arial,Helvetica,sans-serif;
  box-sizing: border-box;
}

body {
  background: $color-grey-verylight;
  padding-top:4em;
}

.form-container {
  background: $color-white;
  padding:3.5em;
  width: 450px;
  position:fixed;
  left:50%;
  margin-left: -225px;
}

button {
  padding:1.2em;
  cursor:pointer;
  margin-bottom:15px;
  font-size:1.3em;
}

.basic-btn {
  background: $color-theme-blue;
  color: $color-white;

  &:hover {
    opacity: 0.8;
  }
}

input.txt {
  background: $color-white !important;
  padding:1.3em 1em;
  font-size:1.3em;
  border: 1px solid $color-grey-light;
}

h2 {
  margin: 1.7em 0 .9em 0;
}

.columns {
  margin-bottom: 30px;
}

p {
  margin: 0.2em 0;
}

.error-wrapper {
  margin-bottom: 15px;
}

.error-label {
  display: block;
  color: $color-white;
  font-weight: 600;
  font-size: 16px;
  background: $color-redLight;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1px;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid $color-grey-light;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}

.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 7px;
  background: $color-grey-verylight;
  top: 7px;
  left: -10px;
  animation: spin 1.2s infinite;
}

.emptyGrid-label {
  position: absolute;
  top: 350px;
  left: 50%;
  width: 500px;
  text-align: center;
  margin-left: -250px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 26px;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  body {
    padding-top:1.2em;
  }

  .form-container {
    padding:1.2em;
    width:90%;
    margin-left:-45%;
  }

  button {
    font-size:1em;
  }
}

.datatable-body-cell {
  cursor: pointer;
}

.ngx-datatable.material.striped .datatable-row-odd {
  background: $color-theme-lightBlue;
}

.ngx-datatable .datatable-footer .datatable-pager .pager li a {
  border-radius: 50%;

  &:hover {
    border-radius: 50%
  }
}

.ngx-datatable.material .datatable-footer .datatable-pager li.active a {
  background-color: $color-theme-lightBlue;
  font-weight: normal;
}

.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover {
  background-color: $color-theme-darkviolet;
}